html {
  margin: 0px;
  padding: 0px;
}

img {
  width: 250px;
}
#sign-in{
  border-style: solid;

  border-color: grey;
    color: grey;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    background-color: white;
    cursor: pointer;
}
button{
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
    color: #6E8FB4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    background-color: white;
    cursor: pointer;
    font-size: 0.775em;

    left:-60px;
    margin-top:35px;


}
#sign-up{
  color: #F0A82E;
}
button:hover{
  background-color: black;
}
.logo{
  border: 0px solid #000;
   border-radius: 5px;
   width: 100%;
   background-size: cover;
 background-repeat: no-repeat;
  background-position: center;
background-color: white;

}
.image{
  background-image: url("img/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

}

h1{
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: inherit;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;

}
ul{
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: inherit;
  font-family: 'Raleway', sans-serif;

}

.container {
  background-color: white;
  width: 360px;
  margin: 0 auto;
  padding: 5px 20px 0 20px;
  border: 2px solid #ccc;
  border-radius: 7px;
  text-align: center;
}

/*.container legend {
  color: #ccc;
  margin: 0 0 0 280px;
  padding: 0;
  letter-spacing: 2px;
}*/

.wrapper1{
  padding-bottom: 20px;
 font-size: 20px;
}
.wrapper2{
  margin-bottom: 30px;
  border-width: 0 0 5px;
  border-style: solid;
border-image: url(http://www.w3.org/TR/css3-background/border.png) 27 fill stretch;
}
.wrapper {
  margin: 0 0 20px 0;
}

.hint {
  color: #888;
  margin: 0;
  font-size: 12px;
  text-align: justify;
}

.lbl-tb {
  font-size: 15px;
  text-transform: uppercase;
}

.frm-ctrl {
  color: black;
  background: transparent;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  font-family: Calibri;
}

.tb {
  width: 350px;
  font-size: 19px;
}

.btn {
  width: 360px;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s
}

.btn:hover {
  color: #2D3945;
  background: #eee;
}

.btn:active {
  border: 1px solid #333;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* List styling */
.featureList, .featureList ul {
  margin-top: 0;
  padding-left: 2em;
  list-style-type: none;
}
.featureList li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
}
.featureList li.tick:before {
  content: "\2713";
  color: white;
}
.featureList li.cross:before {
  content: "\2717";
  color: crimson;
}
#facebook-logo {
  margin-bottom: 30px;
  border-width: 0 0 5px;
  border-style: solid;
border-image: url(http://www.w3.org/TR/css3-background/border.png) 27 fill stretch;
}
